#   ___  _           _  ______
#  / _ \| |         | | | ___ \
# / /_\ \ | ___ _ __| |_| |_/ / __ _____  ___   _
# |  _  | |/ _ \ '__| __|  __/ '__/ _ \ \/ / | | |
# | | | | |  __/ |  | |_| |  | | | (_) >  <| |_| |
# \_| |_/_|\___|_|   \__\_|  |_|  \___/_/\_\\__, |
#                    Alert-Proxy             __/ |
#                                           |___/
debug: false
app_debug: false
logging:
  log_level: INFO
alert_proxy_config:
  alert_verification: true
  create_ticket: true
  core_account_id: ${CORE_ACCOUNT_NUMBER}
  core_overseer_id: ${OVERSEER_CORE_DEVICE_ID}
  account_secret: ${ACCOUNT_SERVICE_TOKEN}
  alert_manager_url: ${ALERT_MANAGER_URL}
  http_route_fqdn: ${HTTP_ROUTE_FQDN}
