#   ___  _           _  ______
#  / _ \| |         | | | ___ \
# / /_\ \ | ___ _ __| |_| |_/ / __ _____  ___   _
# |  _  | |/ _ \ '__| __|  __/ '__/ _ \ \/ / | | |
# | | | | |  __/ |  | |_| |  | | | (_) >  <| |_| |
# \_| |_/_|\___|_|   \__\_|  |_|  \___/_/\_\\__, |
#                    Alert-Proxy             __/ |
#                                           |___/
[uwsgi]
module = wsgi:app
uid = alert-proxy
gid = alert-proxy
http = 0.0.0.0:8000
master = true
processes = 4
threads = 1
vacuum = true
die-on-term = true
disable-logging = True
